*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.multik{
    width: 1440px;
    border: 1px solid;
    margin: 0 auto;
}


@media only screen and (max-width:320px){
    *{
        text-decoration: none;
        list-style: none;
    }
    
    .multik{
        width: 100%;
    }
    
}